@import '~office-ui-fabric-react/dist/sass/References.scss';
@font-face {
  font-family: "Source Sans Pro";
  src: url("../../../assets/fonts/SourceSansPro-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Source Sans Pro Light";
  src: url("../../../assets/fonts/SourceSansPro-Light.ttf") format("truetype");
}
.SimpleCRUD {
  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: 300;
  font-size: 15px;
  .container {
    max-width: 900px;
    margin: 0px auto;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 25px 50px 0 rgba(0, 0, 0, 0.1);
  }

  .row {
    @include ms-Grid-row;
    @include ms-fontColor-white;
    background-color: $ms-color-themeDark;
    padding: 20px;
  }

  .column {
    @include ms-Grid-col;
    @include ms-lg10;
    @include ms-xl8;
    @include ms-xlPush2;
    @include ms-lgPush1;
  }

  .title {
    @include ms-font-xl;
    @include ms-fontColor-white;
  }

  .subTitle {
    @include ms-font-l;
    @include ms-fontColor-white;
  }

  .description {
    @include ms-font-l;
    @include ms-fontColor-white;
  }

  .button {
    // Our button
    text-decoration: none;
    height: 32px;

    // Primary Button
    min-width: 80px;
    background-color: $ms-color-themePrimary;
    border-color: $ms-color-themePrimary;
    color: $ms-color-white;

    // Basic Button
    outline: transparent;
    position: relative;
    font-family: "Segoe UI WestEuropean", "Segoe UI", -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    font-size: $ms-font-size-m;
    font-weight: $ms-font-weight-regular;
    border-width: 0;
    text-align: center;
    cursor: pointer;
    display: inline-block;
    padding: 0 16px;

    .label {
      font-weight: $ms-font-weight-semibold;
      font-size: $ms-font-size-m;
      height: 25px;
      line-height: 25px;
      margin: 0 4px;
      vertical-align: top;
      display: inline-block;
    }
  }

  .customListContainer {
   overflow: auto !important;
   height: 400px !important;

    .grid {
      display: grid;
      grid-template-columns: 1fr 3fr 4fr 5fr 3fr;
      grid-template-rows: 35px;
     
      justify-content: stretch;

      &:last-child {
         border-radius: 0px 0px 8px 8px;

      }

      div {
        align-self: center;
        font-family: 'Source Sans Pro Light';
      }
    }

    .table {
       margin: 30px auto 3em;
      // padding: 0;
      // border-radius: 8px;
      .header {
        padding: 0.8em 1.9em;
        background-color: #28388f;
        // border-radius: 8px 8px 0px 0px;

        div {
          color: #fff;
          font-family: 'Source Sans Pro';
        }
      }

    }

    .rowEven {
      padding: 0.8em 1.9em;
      background: rgb(225, 235, 241);
    }

    .rowOdd {
      padding: 0.8em 1.9em;
      background: rgba(225, 235, 241, 0.5);
    }

    .actionsContainer {
      display: grid;
      justify-content: center;
      grid-template-columns: 1fr 1fr;
      grid-auto-columns: auto;

      .actionButton {
        margin: 0px 10px 0px 10px;
      }
    }
  }
}